<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myboard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewBoardListServlet</display-name>
    <servlet-name>ViewBoardListServlet</servlet-name>
    <servlet-class>com.ktds.ehm.myboard.web.ViewBoardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBoardListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailServlet</display-name>
    <servlet-name>ViewDetailServlet</servlet-name>
    <servlet-class>com.ktds.ehm.myboard.web.ViewDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewWriteServlet</display-name>
    <servlet-name>ViewWriteServlet</servlet-name>
    <servlet-class>com.ktds.ehm.myboard.web.ViewWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewWriteServlet</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWriteActionServlet</display-name>
    <servlet-name>DoWriteActionServlet</servlet-name>
    <servlet-class>com.ktds.ehm.myboard.web.DoWriteActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteActionServlet</servlet-name>
    <url-pattern>/dowrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteServlet</display-name>
    <servlet-name>DoDeleteServlet</servlet-name>
    <servlet-class>com.ktds.ehm.myboard.web.DoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUpdateServlet</display-name>
    <servlet-name>ViewUpdateServlet</servlet-name>
    <servlet-class>com.ktds.ehm.myboard.web.ViewUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUpdateActionServlet</display-name>
    <servlet-name>DoUpdateActionServlet</servlet-name>
    <servlet-class>com.ktds.ehm.myboard.web.DoUpdateActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUpdateActionServlet</servlet-name>
    <url-pattern>/doupdate</url-pattern>
  </servlet-mapping>
</web-app>